#loader{
    position: fixed;
	background-color: black;
    margin:0;
	min-width: 100vw;
    min-height: 100vh;
    z-index: 200;
    display: grid;
    place-items: center;
}


#trees-loading{
    max-width: 230px;
}

@media screen and (min-width: 800px) {
    #trees-loading{
        max-width: 400px;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }

  .animate-flicker {
      animation: flickerAnimation 2s infinite;
  }