@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* GLOBAL STYLES */

html,body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar{
    display: none
}

section{
    margin:0;
	min-width: 100vw;
    min-height: 100vh;
}

@media screen and (min-width: 800px) {
	section{
		margin:0;
		min-width: 100vw;
		min-height: 100vh;
	}
}

