{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PINGAU</title>
  {% block styles %}
  {% endblock %}
  <link rel="stylesheet" href="{% static '../static/mainpage/loader.css' %}">
  <link rel="stylesheet" href="{% static '../static/mainpage/style.css' %}">
  <link rel="stylesheet" href="{% static '../static/mainpage/navigation.css' %}">
  <script src="https://use.fontawesome.com/80f22533ba.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>

  <nav>
    <a href='{% url "index" %}'><img src='../static/mainpage/images/logo1.png' alt='logo' class='logo' /></a>
    <button class='toggle-btn' onclick="openSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class='navigation-container'>
      <ul class='menu'>
        {% if page_req %}
        {% for page in page_req %}
        <li class='nav-item' onmouseover="openNavSubmenu('navsub-{{page.id}}')" onmouseout="closeNavSubmenu('navsub-{{page.id}}')">
            <a id='mainlink-{{page.id}}' class='main-link' href='{% url page.page_url %}'>{{page.page_name}}</a> <i id="navsub-{{page.id}}-arrow" class="fa fa-angle-down navbar-arrow-icon" aria-hidden="true"></i>
            <ul id="navsub-{{page.id}}" class='submenu'>
                {% if subpage_req %}
                {% for subpage in page.subpage_set.all %}
                  <!-- {% if subpage.page.page_name == page.page_name %} -->
                    <a href='{% url page.page_url %}#{{subpage.subpage_anchor}}'><li class='sublink'>{{subpage.subpage_name}}</li></a>
                  <!-- {% endif %} -->
                {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endfor %}
        {% endif %}
        <li class='nav-item'><a class='main-link' href="creditos">Creditos</a></li>
        <li class='nav-item'><a class='main-link directbtn' href="instalacion#reservas">Reservas</a></li>
      </ul>
      </div>
  </nav>

  <aside>
    <div id='sidebar' class='sidebar-container'>
      <div class='sidebar-header'>
        <button class='close-btn' onclick='closeSidebar()'><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <ul class='sidebar-menu'>
        {% if page_req %}
        {% for page in page_req %}
        <li class='sidebar-item'>
            <div class='sidebar-item-header'><a class='sidebar-main-link' href='{% url page.page_url %}'>{{page.page_name}}</a> <i id="sidesub-{{page.id}}-plus" class="far fa-plus-square sidebar-plus-icon" aria-hidden="true" onclick='toggleSideBarSubmenu("sidesub-{{page.id}}")'></i></div>
            <ul id='sidesub-{{page.id}}' class='sidebar-submenu'>
                {% if subpage_req %}
                {% for subpage in subpage_req %}
                  {% if subpage.page.page_name == page.page_name %}
                    <li class='sidebar-sublink' onclick="closeSidebar()"><a href='{% url page.page_url %}#{{subpage.subpage_anchor}}'>{{subpage.subpage_name}}</a></li>
                  {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endfor %}
        {% endif %}  
        <li class='sidebar-item'><a class='sidebar-main-link' href="creditos">Créditos</a></li>
      </ul>
    </div>
  </aside>

  <div id='loader'>
    <img id="trees-loading" class='animate-flicker' src='../static/mainpage/images/arboles-blanco.png' alt='arboles'/>
  </div>

{% block content %}

{% endblock %}

  <footer>
    <div class='contact-info'>
      <a href="https://www.instagram.com/en.el.bosque.2021/"><i class="fab fa-instagram"></i></a>
      <a href="mailto:enelbosque2021@gmail.com"><i class="far fa-envelope"></i></a>
    </div>
    <img id="trees-footer" src='../static/mainpage/images/arboles-blanco.png' alt='arboles'/>
  </footer>
  
<script src="{% static '../static/mainpage/script.js' %}"></script>
<script src="../static/mainpage/loader.js"></script> 
</body>
</html>